
@{
    ViewData["Title"] = "ثبت آگهی اشتراک گذاری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="lh-1-85 breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">خانه</a>
            </li>
      
            <li class="breadcrumb-item active text-pink">ثبت آگهی اشتراک گذاری</li>
        </ol>
    </nav>
    <div class="col-xl-6 col-lg-6 col-md-12 offset-xl-3 offset-lg-3 mb-5">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">ثبت آگهی اشتراک گذاری</h5>
                <div class="text-white  p-1 massage-custom">
                    درخواست شما بعد از تائید کارشناسان منتشر میشود

                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="mb-3 col-lg-6 col-xl-6 col-12">
                            <label class="form-label" for="basic-default-fullname">عنوان آگهی</label>
                            <input type="text" class="form-control form-control-sm" id="title" placeholder="عنوان آگهی">
                        </div>
                        <div class="mb-3 col-lg-6 col-xl-6 col-12">
                            <label class="form-label" for="basic-default-company">شماره تماس</label>
                            <input type="tel" class="form-control form-control-sm" id="phone" placeholder="09**********">
                        </div>
                    </div>
                    <div>
                        <label class="form-label" for="basic-default-company">انتخاب مهارت ها</label>
                        <select id="Skill" name="Skills" asp-items="@ViewBag.list" 
                                class="select2 form-select-sm form-select select2-hidden-accessible"
                                multiple="" tabindex="-1" aria-hidden="true">
  
                        </select>

                    </div>
                    <div class="row mt-1">
                        <div class="mb-3 col-lg-6 col-xl-6 col-12">
                            <label for="MasterImage" class="form-label">انتخاب تصویر شاخص</label>
                            <input class="form-control  form-control-sm" type="file" id="MasterImage">
                        </div>
                        <div class="mb-3 col-lg-6 col-xl-6 col-12">
                            <label for="Gallery" class="form-label"> انتخاب گالری  </label>
                            <input class="form-control  form-control-sm" type="file" id="Gallery" multiple="">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">توضیحات</label>
                        <textarea id="description" class="form-control form-control-sm"
                        rows="4"placeholder="توضیحات را اینجا بنویسید"></textarea>
                    </div>
                    @if (User!.Identity!.IsAuthenticated)
                    {
                        <a onclick="SendRequestIntroduction()" class="btn bg-primary btn-sm text-white">ارسال</a>
                    }
                    else
                    {
                        <a onclick="SignInError()" class="btn bg-primary btn-sm text-white">ارسال</a>
                    }
                  
                    <a asp-controller="Home" asp-action="Index" class="btn bg-warning btn-sm text-white">بازگشت</a>

                </form>
            </div>
        </div>
    </div>
</div>

@section Script
{
    <script src="~/js/request.js" asp-append-version="true"></script>

}
