@model Framework.CQRS.Query.Admin.User.UserCategory
@{
    ViewData["Title"] = Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style
{
    <link rel="stylesheet" href="~/assets/vendor/css/pages/page-profile.css">
}
@section Script
{
    <script src="~/assets/js/pages-profile.js"></script>
}
<div class="row">

    <nav aria-label="breadcrumb">
        <ol class="lh-1-85 breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">خانه</a>
            </li>

            <li class="breadcrumb-item active text-pink">پروفایل کاربر</li>
        </ol>
    </nav>
</div>
<div class="row mb-5">
    <div class="col-12">
        <div class="card mb-4">
            <div class="user-profile-header-banner">
                <img src="../../assets/img/pages/profile-banner.png" alt="Banner image" class="rounded-top">
            </div>
            <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
                <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
                    <img src="../../assets/img/avatars/1.png" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded-3 user-profile-img">
                </div>
                <div class="flex-grow-1 mt-3 mt-sm-5">
                    <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
                        <div class="user-profile-info">
                            <h4> @Model.FullName</h4>
                            <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                            
                                <li class="list-inline-item fw-semibold"><i class="bx bx-map"></i>  
                                @Model.ProvinceName - @Model.CityName
                                    </li>
                                
                            </ul>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("UserAdvertisesComponent",Model.Id)