@model Framework.CQRS.Query.Setting.HelpViewModel
@{
    ViewData["Title"] = "راهنمای سایت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xl-12 col-lg-12 col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="lh-1-85 breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">خانه</a>
            </li>

            <li class="breadcrumb-item active text-pink">    راهنمای سایت </li>
        </ol>
    </nav>
    <div class="card overflow-hidden">
        <div class="card-body">
           
            <h4 class="d-flex align-items-center mt-2 mb-4 text-pink">
               
               راهنمای سایت
            </h4>
            <p>
           @Html.Raw(Model.Help)          </p>
            
        </div>
    </div>
</div>