@using Domain.Enums
@{
    ViewData["Title"] = "صفحه اصلی";
}


@await Component.InvokeAsync("SliderComponent",PositionEnum.Home)
@* <div clss="row">
    <div class="col-12 mb-3">
    
        <div class="swiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl swiper-watch-progress" id="swiper-3d-coverflow-effect">
            <div class="swiper-wrapper" id="swiper-wrapper-d1ee3cc6f932ea35" aria-live="polite" style="cursor: grab; transition-duration: 0ms; transform: translate3d(108.5px, 0px, 0px);">
                <div class="swiper-slide swiper-slide-visible" style="background-image: url(../../assets/img/elements/20.jpg); transition-duration: 0ms; transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(-100deg) scale(1); z-index: -1;" role="group" aria-label="1 / 5">
                    اسلاید 1
                    <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 2; transition-duration: 0ms;"></div>
                </div>
                <div class="swiper-slide swiper-slide-visible swiper-slide-prev" style="background-image: url(../../assets/img/elements/7.jpg); transition-duration: 0ms; transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(-50deg) scale(1); z-index: 0;" role="group" aria-label="2 / 5">
                    اسلاید 2
                    <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 1; transition-duration: 0ms;"></div>
                </div>
                <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="background-image: url(../../assets/img/elements/13.jpg); transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1); z-index: 1;" role="group" aria-label="3 / 5">
                    اسلاید 3
                    <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div>
                </div>
                <div class="swiper-slide swiper-slide-visible swiper-slide-next" style="background-image: url(../../assets/img/elements/19.jpg); transition-duration: 0ms; transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(50deg) scale(1); z-index: 0;" role="group" aria-label="4 / 5">
                    اسلاید 4
                    <div class="swiper-slide-shadow-left" style="opacity: 1; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div>
                </div>
                <div class="swiper-slide swiper-slide-visible" style="background-image: url(../../assets/img/elements/18.jpg); transition-duration: 0ms; transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(100deg) scale(1); z-index: -1;" role="group" aria-label="5 / 5">
                    اسلاید 5
                    <div class="swiper-slide-shadow-left" style="opacity: 2; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-current="true"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</div> *@





<div class="row ">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
        <a asp-controller="Advertising" asp-action="Introduction">
        <div class="card text-center card-tetron">
            <div class="card-body">
                <div class="justify-content-center">
                    <img class="img-box" src="~/img/Placement.png"/>
                </div>
                <a asp-controller="Advertising" asp-action="Introduction" class="btn btn-sm btn-pink text-white mt-3">مشاهده اشتراک گذاری</a>
            </div>
            </div>
        </a>
    </div>


    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
        <a asp-controller="Advertising" asp-action="Placement">
        <div class="card text-center card-tetron">
            <div class="card-body">
                <div class="justify-content-center">
                        <img class="img-box" src="~/img/Introduction.png" />
                </div>
                <a asp-controller="Advertising" asp-action="Placement" class="btn btn-sm btn-pink text-white mt-3">مشاهده آماده همکاری</a>
            </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
        <a asp-controller="Advertising" asp-action="Recruitment">
        <div class="card text-center card-tetron">
            <div class="card-body">
                <div class="justify-content-center">
                        <img class="img-box" src="~/img/Recruitment.png" />
                </div>
                <a asp-controller="Advertising" asp-action="Recruitment" class="btn btn-sm btn-pink text-white mt-3">مشاهده نیاز نیرو</a>
            </div>
            </div>
        </a>
    </div>



    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
        <a asp-controller="Advertising" asp-action="RequestIntroduction">
            <div class="card text-center card-tetron">
                <div class="card-body">
                    <div class="justify-content-center">
                        <img class="img-box" src="~/img/Hired-bro.png" />
                    </div>
                    <a asp-controller="Advertising" asp-action="RequestIntroduction" class="btn btn-sm btn-blue text-dark mt-3">ثبت اشتراک گذاری</a>
                </div>
            </div>
        </a>
    </div>





    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4"><a asp-controller="Advertising" asp-action="RequestPlacement">
        <div class="card text-center card-tetron">
            <div class="card-body">
                <div class="justify-content-center">
                        <img class="img-box" src="~/img/Freelancer-cuate.png" />
                </div>
                <a asp-controller="Advertising" asp-action="RequestPlacement" class="btn btn-sm btn-blue text-dark mt-3">ثبت آماده همکاری</a>
            </div>
        </div></a>
    </div>




    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4"><a asp-controller="Advertising" asp-action="RequestRecruitment">
        <div class="card text-center card-tetron">
            <div class="card-body">
                <div class="justify-content-center">
                        <img class="img-box" src="~/img/Company-amico.png" />
                </div>
                <a asp-controller="Advertising" asp-action="RequestRecruitment" class="btn btn-sm btn-blue text-dark mt-3">ثبت نیاز نیرو</a>
            </div>
            </div>
        </a>
    </div>




</div>
<div class="row mb-5">

    @await Component.InvokeAsync("CategoryComponent")

</div>

