@model Framework.CQRS.Query.Setting.LawViewModel
@{
    ViewData["Title"] = "قوانین سایت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xl-12 col-lg-12 col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="lh-1-85 breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">خانه</a>
            </li>
     
            <li class="breadcrumb-item active text-pink">  قوانین سایت </li>
        </ol>
    </nav>
    <div class="card overflow-hidden">
        <div class="card-body">

            <h4 class="d-flex align-items-center mt-2 mb-4 text-pink">

                قوانین سایت
            </h4>
            <p>
                @Html.Raw(Model.Law) </p>

        </div>
    </div>
</div>