
@{
    ViewData["Title"] = "ورود به سایت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row"> <nav aria-label="breadcrumb">
        <ol class="lh-1-85 breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">خانه</a>
            </li>
          
            <li class="breadcrumb-item active text-pink">ورود به حساب کاربری  </li>
        </ol>
    </nav>

    <div class="col-lg-4 col-xl-4 offset-lg-4 offset-xl-4 col-12">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                      
                        <h4 class="mb-3 secondary-font">به تترون جاب خوش آمدید!</h4>
                        <p class="mb-4">لطفا وارد حساب خود شده و ماجراجویی را شروع کنید</p>

                        <form id="formAuthentication" class="mb-3 fv-plugins-bootstrap5 fv-plugins-framework" action="index.html" method="POST" novalidate="novalidate">
                            <div class="mb-3 fv-plugins-icon-container">
                                <label  class="form-label">کدملی </label>
                                <input type="text" class="form-control text-start" id="username" placeholder="کدملی خود را وارد کنید" autofocus="" dir="ltr">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="mb-3 form-password-toggle fv-plugins-icon-container">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">رمز عبور</label>
                                   
                                </div>
                                <div class="input-group input-group-merge has-validation">
                                    <input type="password" id="password" class="form-control text-start" placeholder="رمز عبور را وارد کنید" aria-describedby="password" dir="ltr">
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div><div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember">
                                    <label class="form-check-label" for="remember-me"> به خاطر سپاری </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <a onclick="SignIn()" class="btn btn-pink text-white d-grid w-100">ورود</a>
                            </div>
                            <input type="hidden">
                        </form>

                        <p class="text-center">
                            <span>کاربر جدید هستید؟</span>
                            <a asp-controller="Identity" asp-action="SignUp">
                                <span>یک حساب بسازید</span>
                            </a>
                        </p>

                        <div class="divider my-4">
                            <div class="divider-text">  <a class="text-center" asp-controller="Identity" asp-action="SignInOtp">
                                <span>ورود با رمز یکبار مصرف</span>
                            </a></div>
                        </div>

                      
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>
</div>

                            @section Script
    {
     <script src="~/js/register.js"></script>
}
