@model Framework.CQRS.Query.Setting.Social

<li class="nav-item dropdown-language dropdown me-2 me-xl-0 mx-2">
    <a href="@Model.Instagram">
        <i class='bx bxl-instagram bx-sm  text-pink'></i>
    </a>
</li>

<li class="nav-item dropdown-language dropdown me-2 me-xl-0 mx-2">
    <a href="@Model.WhatsApp">
        <i class='bx bxl-whatsapp bx-sm  text-pink'></i>
    </a>
</li>

<li class="nav-item dropdown-language dropdown me-2 me-xl-0 mx-2">
    <a href="@Model.Telegram">
        <i class='bx bxl-telegram bx-sm  text-pink'></i>
    </a>
</li>


