@model Framework.CQRS.Query.Admin.User.UserCategory

<div class="col-12">
    <div class="card mb-4">
        <div class="user-profile-header-banner">
            <img src="~/assets/img/pages/profile-banner.png" alt="Banner image" class="rounded-top">
        </div>
        <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
            @if (Model.Avatar != "default.jpg")
            {
                <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
                    <img src="~/UsersImage/@Model.Avatar" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded-3 user-profile-img">
                </div>
            }
            else
            {
                <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
                    <img src="~/img/default.jpg" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded-3 user-profile-img">
                </div>
            }
          
            <div class="flex-grow-1 mt-3 mt-sm-5">
                <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
                    <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
                        <div class="user-profile-info">
                            <h4> @Model.FullName</h4>
                            <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">

                                <li class="list-inline-item fw-semibold">
                                    <i class="bx bx-map"></i>
                                    @Model.ProvinceName - @Model.CityName
                                </li>

                            </ul>
                        </div>
                    </div>
                    <a asp-controller="Identity" asp-action="SignOut" class="btn text-white bg-danger text-nowrap">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>

                        خروج از حساب کاربری
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>