@model Framework.CQRS.Query.Admin.User.UserImage

<li class="nav-item navbar-dropdown dropdown-user dropdown">
    <a class="nav-link dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
            @if (Model.Avatar != "default.jpg")
            {
                <img src="~/UsersImage/@Model.Avatar" alt class="rounded-circle">
            }
            else
            {
                <img src="~/assets/img/avatars/1.png" alt class="rounded-circle">
            }
           
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" asp-controller="Profile" asp-action="Dashboard">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                            @if (Model.Avatar != "default.jpg")
                            {
                                <img src="~/UsersImage/@Model.Avatar" alt class="rounded-circle">
                            }
                            else
                            {
                                <img src="~/assets/img/avatars/1.png" alt class="rounded-circle">
                            }
                        </div>
                    </div>
                    <div class="flex-grow-1">

                        <span class="align-middle">پروفایل من</span>

                    </div>
                </div>
            </a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>




        <li>
            <a class="dropdown-item" asp-controller="Identity" asp-action="SignOut" target="_blank">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">خروج</span>
            </a>
        </li>
    </ul>
</li>