<footer class="footer-tetron" style="background-color: #ffffff; z-index: 4;">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-2 mb-2 footer-select">
                <div>
                    <a href="/" style="font-size: 24px;"> <i class="fa-solid fa-house mt-2 text-pink"></i> </a>
                    <br> <span>خانه</span>
                </div>
            </div>
            <div class="col-2 mb-2 footerbox">
                <div>

                    <a href="/" style="font-size: 24px;"> <i class="fa-solid fa-user mt-2 text-pink"></i> </a>
                    <br> <span>پروفایل</span>
                </div>
            </div>


            <div class="col-2 mb-2 footerbox">



                <a href="/" style="font-size: 24px;"> <i class="fa-solid fa-shop mt-2 text-pink"></i> </a>
                <br> <span>گالری</span>
            </div>



            <div class="col-2 mb-2 footerbox">
                <div>
                    <a asp-controller="Home" asp-action="ContactUs" style="font-size: 24px;">
                        <i class="fa-solid fa-envelope mt-2 text-pink"></i>

                    </a>
                    <br> <span>تماس با ما</span>
                </div>
            </div>
            <div class="col-2 mb-2 footerbox">
                <div>
                    <a asp-controller="Blog" asp-action="BlogCategory" style="font-size: 24px;"> <i class="fa-solid fa-book mt-2 text-pink"></i> </a>
                    <br> <span>وبلاگ</span>
                </div>
            </div>
            <div class="col-2 mb-2 footerbox">
                <div>
                    <a asp-controller="Home" asp-action="About" style="font-size: 24px;">
                        <i class="fa-regular fa-circle-question mt-2 text-pink"></i>
                    </a>
                    <br> <span>درباره ما</span>
                </div>
            </div>
        </div>
    </div>
</footer>