
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
    <div class="container-xxl d-flex h-100">
        <ul class="menu-inner">
            <!-- Dashboards -->
            <li class="menu-item ">
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-menu"></i>
                    <div >دسته بندی‌ها</div>
                </a>
                @await  Component.InvokeAsync("MenuCategoryComponent")
            </li>

            <!-- Layouts -->
            <li class="menu-item">
                <a asp-controller="Home" asp-action="Help" class="menu-link ">
                    <i class="menu-icon tf-icons bx bx-info-circle"></i>
                    <div >راهنمای سایت</div>
                </a>
            </li>

@if (!User!.Identity!.IsAuthenticated)
{
    
    <li class="menu-item">
        <a asp-controller="Identity" asp-action="SignUp" class="menu-link ">
            <i class="menu-icon tf-icons bx bx-user-plus"></i>
            <div >ثبت نام در سایت</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-controller="Identity" asp-action="SignIn" class="menu-link ">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div >ورود به حساب کاربری</div>
        </a>
    </li>
}
else
{ <li class="menu-item">
      <a asp-controller="Profile" asp-action="Dashboard" class="menu-link ">
          <i class="fa-solid fa-user"></i>
          <div > حساب کاربری  </div>
      </a>
  </li>
              
}








        </ul>
    </div>
</aside>
 