@using System.Security.Claims

<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
    <div class="container-xxl">
        <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
            <a href="/" class="app-brand-link gap-2">
                <img src="~/assets/img/Logo.png" width="100" height="50" />
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                <i class="bx bx-x bx-sm align-middle"></i>
            </a>
        </div>

        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Social -->
                @await Component.InvokeAsync("SocialComponent")
                <!--/ Social -->
                <!-- Quick links  -->
                <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-2 me-xl-0">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"
                       data-bs-auto-close="outside" aria-expanded="false">
                        <i class="bx bx-grid-alt bx-sm"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end py-0">
                        <div class="dropdown-menu-header border-bottom">
                            <div class="dropdown-header d-flex align-items-center py-3">
                                <h5 class="text-body mb-0 me-auto secondary-font">میانبرها</h5>
                            </div>
                        </div>
                        <div class="dropdown-shortcuts-list scrollable-container">
                            <div class="row row-bordered overflow-visible g-0">
                                <div class="dropdown-shortcuts-item col">
                                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                        <i class="bx bx-male-female fs-4"></i>
                                    </span>
                                    <a asp-controller="Home" asp-action="About" class="stretched-link">درباره ما</a>
                                    <small class="text-muted mb-0">با تترون جاب آشنا شوید</small>
                                </div>
                                <div class="dropdown-shortcuts-item col">
                                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                        <i class="bx bx-info-circle fs-4"></i>
                                    </span>
                                    <a asp-controller="Home" asp-action="Help" class="stretched-link">راهنمای سایت</a>
                                    <small class="text-muted mb-0">آموزش کار با سایت</small>
                                </div>
                            </div>
                            <div class="row row-bordered overflow-visible g-0">

                                <div class="dropdown-shortcuts-item col">
                                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                        <i class="bx bx-envelope fs-4"></i>
                                    </span>
                                    <a asp-controller="Home" asp-action="ContactUs" class="stretched-link">تماس با ما</a>
                                    <small class="text-muted mb-0">گزارش مشکلات،انتقادات و پیشنهادات</small>
                                </div>
                            </div>
                            <div class="row row-bordered overflow-visible g-0">
                                <div class="dropdown-shortcuts-item col">
                                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                        <i class="bx bx-error-alt fs-4"></i>
                                    </span>
                                    <a asp-controller="Home" asp-action="Law" class="stretched-link">قوانین سایت</a>
                                    <small class="text-muted mb-0">سیاست و حریم خصوصی</small>
                                </div>
                                <div class="dropdown-shortcuts-item col">
                                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                        <i class="bx bx-book fs-4"></i>
                                    </span>
                                    <a asp-controller="Blog" asp-action="BlogCategory" class="stretched-link">وبلاگ</a>
                                    <small class="text-muted mb-0">اخبار و مقالات</small>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <!-- Quick links -->
                <!-- User -->
                @if (User!.Identity!.IsAuthenticated)
                {
                    @await Component.InvokeAsync("UserImageComponent",@Guid.Parse(User!.FindFirstValue(ClaimTypes.NameIdentifier)))
                }
                <!--/ User -->
            </ul>
        </div>
    </div>
</nav>
